$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;

$desktop-small: 768px;
$desktop-medium: 1024px;
$desktop-large: 1440px;
$desktop-extraLarge: 2560px;

$primary-color: #157c04;
$secondary-color: #87e70c;
$tertiary-color: #ffffff;
$background-green: #cff5cf;
