* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
  background-color: #cff5cf;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}
